var config = {
    port: 3000,
    baseUrl: 'http://quiettime.xyz',
    database: 'mongodb://localhost:27017/quiettime',
    clientKey: '...',
    clientSecret: '...',
    sessionSecret: '...',
}
module.exports = config
